body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", sans-serif;
    background-position:center;
    background-repeat: no-repeat;
    /* background-image:    ;       */
        
    height: 100vh;
    margin: 0;
    background-color: rgb(113, 113, 113);

}

.card {
    background-color: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
} 

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px; 
    outline: none;   
    background: #7c7c7c2b;
    color: white;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}

.searchbar {
    outline: none;
    border: none;
    padding: 0.5em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120% ;
    width: calc(100%); 
}

button:hover{
    background: #7c7c7c6d;
}